/*
    Written by
    * Brandon Davis,
    * Moazzam Kahn,
    * Paul Kovach,
    * Ryan Court
    Fall 2016, COMP 523
*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font:Trebuchet;
}

table {
    width: 100%;
}

table tr.enabled {
    background-color: #5CB471!important;
}

table td{
    margin-left: 10px;
    border: 1px solid black;
    text-align: center;

}

table th {
    background-color: #f5f5f5;
    border: 1px solid black;
    border: collapse;
    text-align: center;
}

table.formtable {
    width: auto;
}

table.formtable td {
    text-align: left;
    padding: 5px 15px;
}

.time {
    background-color: #f5f5f5;
}

#location-table .table-0 {
    background-color: #ffffff;
}

#location-table .table-1 {
    background-color:  #97D6FF;
}

#location-table .table-2 {
    background-color: #1565C0;
}

#availability-table .table-0 {
    background-color: #B71C1C;
}

#availability-table .table-1 {
    background-color: #FBC02D;
}

.text-table-0 {
    color: #B71C1C;
}

.text-table-1 {
    color: #FBC02D;
}

#availability-table .table-2 {
    background-color: #00695C;
}

.text-table-2 {
    color: #00695C;
}

/*nav {
background-color: #333;
margin: 0;
overflow: hidden;
}
nav ul{
margin: 0;
padding: 0;
background-color: #333;
}
nav ul li {
display: inline-block;
list-style-type: none;
background-color: #333;
}

nav > ul > li > a {
color: #aaa;
display: block;
line-height: 2em;
padding: 0.5em 0.5em;
text-decoration: none;
}

*/
/*Overall design*/

body{
    background-color:#EEE;
}

p {
    font-size: 1.2em;
    color:#999999;
}

/*Header*/
img.header-image{
    max-width:100%;
    width:20%;
    float:right;
    position: relative;
    top: -3.5em;
    right: 3em;
}

@media screen and (max-width: 770px) {
    img.header-image{
        display:none;
    }
}

h1.header-heading{
    position: relative;
    top: 1.2em;
    font-size: 2em;
    left:2em;
    font-family: Avenir, Times;

    text-transform: uppercase;
}

div.header-container{
    background-color: rgba(123,175,212,1);
    position:relative;


}

.nav > li {
    background-color: #333;
}

.nav > li :hover {
    background-color: #333!important;
    color: rgba(123,175,212,1)!important;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-delay: 0.05s;
}

.nav.nav-tabs li {
    background-color: #EEE!important;
}

.nav.nav-tabs li > a {
    border: 1px solid #ddd
}

.nav.nav-tabs li :hover {
    background-color: #FFF!important;
}

.nav.nav-tabs li.active {
    color: #333!important;
    transition-timing-function: ease-out;
    transition-delay: 0.05s;
}

.nav > li > a {
    color:#9E948A;;
}

div.nav-center{
    display:block;
    margin-left: auto;
    margin-right: auto;

}

/*Admin*/
input {
    padding: 5px;
}

th{
    background-color: rgba(123,175,212,1)!important;
}

tr{
    background-color: #BBB!important;
}

button.btn-success{
    background-color: #333;
    border:pink;
}

button.btn-success:hover{
    background-color: rgba(123,175,212,1)!important;
    border:pink;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-delay: 0.05s;
}

/*Help*/
li > a {
    color: blue;
}

li > a:hover, a:hover{
    color: rgba(123,175,212,1)!important;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-delay: 0.05s;
    text-decoration: none;
}
/*Location*/
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #999;
    background-color: #333;
    border-color: #333;
}
.nav-tabs>li>a:hover {
    border-radius: 0px;
    border-color: #333;
}

/*Footer*/
.footer{
    color:#9E948A;
    background-color: #333;
    padding-bottom: 10px;
    padding-top: 10px;
    position: sticky;
    bottom:0px;
    width:100%!important;
    left:0em;

}

h3.footer-text{
    text-align: center;
}

.fc-widget-content{
    background-color: white !important;
}

.fc-content{
    font-weight: bold;
    color: black;
}
.fc-day-header>a{
    color: black !important;
}

/*FullCalendar Rendered Schedule*/

#wrap {
    display: block;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#external-events {
    float: left;
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events h6 {
    padding: 3px;
    border: 1px solid #ccc;
    background: #D3D3D3;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#external-events button {
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom: 2px;
    border-radius: 6px;
    width: 60%;
    vertical-align: middle;
    background-color: rgba(123,175,212,1);
}

#calendar {
    float: right;
    width: 80%;
}

.fc-widget-content {
    position: relative;
}

div.fc-content {
    text-align: left;
    padding-left: 2px;
}


/* Help Page Table of Contents CSS*/
.TOC li{
   list-style-type: none;
   float: inherit;
   /*background: #ffffff;*/
   font-size: 1.3em;
   padding: 1em 2em;

}
.TOC li:hover{

   background: #ffffff;


}


.showMySchedule{
    font-size: 1.5em;
    background-color: rgba(123,175,212,1);
    display:block;
    margin-left: auto;
    margin-right: auto;
}
