{% extends "header.html" %}
{% block body %}
    <h2>Create new user</h2>
    
    <div id="new_user_form">
        <p>Please enter the following information to create a new user. Please also note an administrative user
        will have extra administrative rights while  an employee will only be able to see their information.
        .</p>
        <form id="new_user">

            <input class = "admin-input" type="text" placeholder = "PID" name="pid">
            <br>
            <input  class = "admin-input" placeholder = "Email" type="text" name="email">
            <br>
            Select User Type:
            <input  class = "admin-input" type="radio" placeholder = "Admin" name="typecode" value ="1" checked>
            Administrator
            <input  class = "admin-input" type="radio" placeholder = "Employee" name="typecode" value ="2">
            Employee
            <br>
            <button type="button" class="btn btn-success" onclick="make_new_user()">SUBMIT</button>
        </form>
    </div> 


    <h2>Users</h2>
        <table>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>PID</th>
                <th>Email</th>
                <th>Admin?</th>
                <th>Action</th>
            </tr>
            <p>Below is a list of all users:</p>
            {% for user in all_users %}

            <tr class="{{'enabled' if user.typecode[2] == '1'}}">
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td><a href="{{ url_for('set_availability', pid=user.pid) }}">{{ user.pid }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{'yes' if user.is_admin else 'no'}}</td>
                <td>
                    <button onclick="delete_user({{ user.pid }})">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>

                    <button onclick="toggle_active_user({{user.pid}}, '{{user.typecode}}');">
                        <i class="fa {{'fa-toggle-on' if user.typecode[2] == '1' else 'fa-toggle-off'}}" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            {% else %}
                <p>There are no users</p>
            {% endfor %}
        </table>
    <h2>
        Schedules 
        <button style="font-size: 15px;" onclick="run_schedule();">Run Scheduler</button> 
        <i style="font-size: 18px; display: none;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
    </h2>

        <table>
            <tr> 
                <th>SID</th>
                <th>Created On</th>
                <th>Delete</th>
            </tr>
            <p>Below is a list of all schedules in the system:</p>
            {% for s in all_schedules %}
            <tr>
                <td><a href="{{ url_for('schedule', code=s.sid) }}">{{ s.sid }}</a></td>
                <td>{{ s.created_on }}</td>
                <td><button onclick="delete_schedule('{{ s.sid }}')">Delete</button></td>
            </tr>
            {% else %}
                <p>There are no schedules at this point in time.</p>
            {% endfor %}
        </table>

{% endblock %}
