{% extends "header.html" %}
{% block body %}
    <h2>Create new user</h2>
    <div id="new_user_form">
        <form id="new_user">
            PID: <input type="text" name="pid">
            EMAIL: <input type="text" name="email">
            TYPECODE: <input type="text" name="typecode">
            <button type="button" onclick="make_new_user()">SUBMIT</button>
        </form>
    </div> 
    <h2>Users</h2>
        <table>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>PID</th>
                <th>Email</th>
                <th>Admin?</th>
                <th>Delete</th>
            </tr>
            {% for user in all_users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.pid }}</td>
                <td>{{ user.email }}</td>
                <td>{{'yes' if user.is_admin else 'no'}}</td>
                <td><button onclick="delete_user({{ user.pid }})">Delete</button></td>
            </tr>
            {% else %}
                <p>There are no users</p>
            {% endfor %}
        </table>
    <h2>
        Schedules 
        <button style="font-size: 15px;" onclick="run_schedule();">Run Scheduler</button> 
        <i style="font-size: 18px; display: none;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
    </h2>

        <table>
            <tr> 
                <th>SID</th>
                <th>Created On</th>
                <th>Delete</th>
            </tr>
            {% for s in all_schedules %}
            <tr>
                <td><a href="{{ url_for('schedule', code=s.sid) }}">{{ s.sid }}</a></td>
                <td>{{ s.created_on }}</td>
                <td><button onclick="delete_schedule('{{ s.sid }}')">Delete</button></td>
            </tr>
            {% else %}
                <p>There are no schedules</p>
            {% endfor %}
        </table>
{% endblock %}