<html>
    <head>
        <title>WritingCenterScheduler</title>
        <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/schedule_api.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <!-- Brandon added these -->
                {% if current_user.is_admin %}
                <li><a href="/admin/location">Manage Locations</a></li>
                {% endif %}
                <li><a href="help">Help</a></li>
                <li><a href="{{url_for('set_availability', pid=current_user.pid)}}">My Schedule</a></li>

            </ul>
        </nav>
        {% block body %} 
        {% endblock %}
    </body>
</html>