<!--
# Writing Center Scheduler
# Fall 2016
#
# Written by
# * Ryan Court (ryco@cs.unc.edu)
-->

{% extends "header.html" %}

{% block body %}
    <br>
    <div class="loader centered"></div>
    <div id="wrap">
        <h3>{{schedule_name}}</h3>
        <div id='external-events'>
            <h4>Locations</h4>
            <h6>Select an option from the dropdown menu to filter locations.</h6>
            <select id="location_selector">
                <option value="all">All Locations</option>
                {% for l in locations %}
                <option id="{{l.name}}" value="{{l.name}}" data-code={{l.code}}>{{l.name}}</option>
                {% endfor %}
            </select>
            <h4>Employees</h4>
            <h6>Drag and drop employees to edit the schedule.</h6>
            {% for u in users %}
            <div class='fc-event' id='{{u.pid}}' data-color='{{u.color}}'style='background-color:{{u.color}};color:#000000;font-weight:bold;'>
                {{u.first_name + " " + u.last_name[0] + "."}}
            </div>
            {% endfor %}
            <h4>Save Changes</h4>
            <button id="save-changes" style="display:inline-block;">Save</button>
            <h4>Save New Schedule</h4>
            <button id="save-new" style="display:inline-block;">Save New</button>
        </div>
        <div id='calendar'></div>
      </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fullcalendar.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/calendar-main.js') }}"></script>
{% endblock %}
