<!--
# Writing Center Scheduler
# Fall 2016
# 
# Written by
# * Paul Kovach (pikovach@cs.unc.edu)
-->

{% extends "header.html" %}
{% block body %}

    <div >
          <div>
              <h1>
                  Hello, Employee!
              </h1>
          </div>
        <p>Welcome to the help page! Under this you can get help on how to use each of the
            pages provided to you!</p>
        <br>

        <div class = 'TOC'>
        <h3>Table Of Contents</h3>
            <ul>
              <li><a href='#ScheduleAvailability'>Scheduling Your Availability</a></li>
        <br>
            <li><a href='#ViewYourSchedule'>Viewing your Scheduled Hours</a>  </li>
            </ul>
        <br>
            <h2 id='ScheduleAvailability'>Scheduling Your Availability</h2>
        </div>
        <p>
            This page is used to provide your administrator with the hours that you are available to work every week
            depending on your schedule.
        </p>
        <p>
            <strong>UPDATING YOUR PERSONAL DATA:</strong>
            You can update your personal information by entering it in the table under the heading "Update your
            Personal Information". Under this table you can change your first name, last name, email, and the number
            of hours that you wish to work per week. Note that unlike availability you must press submit before
            navigating away from this page in order for these changes to be saved.
        </p>
        <p>
            <strong>SETTING YOUR AVAILABILITY:</strong>
            In order to set your availability you must edit the table displayed. Each of the cells is a thirty-minute
            time slot staring at the time displayed for that row. You have three options for each of the available
            time slots: Red(0), Yellow(1) and Green(2). Green means that it is a preferred time for you to work and
            that, if possible, these are the times that you would want to work. The scheduling algorithm will attempt
            to place you in these times as often as possible. Yellow means that you can work at that time if needed.
            You may be scheduled for these times if you are needed at these times but the scheduling algorithm will
            attempt to place you in as many green slots as it can before resorting to placing you in yellow slots.
            However, it is fully possible that you may be placed in slots marked yellow if you are needed at those
            slots. Red means that you are unavailable to work at that times slot. You will not be placed into any
            work slots that are marked red.
        </p>
        <p>
            <strong>NOTE:</strong>While the scheduling algorithm attempts to give everyone their optimal schedule, it
            is impossible for everyone to get their top choices at every timeslot. The schedule that you are
            submitting is a request and there are no guarantees that you will get assigned shifts that match all of
            your preferred slots.

        </p>
        <p>
            <strong>SAVING YOUR AVAILABILITY:</strong>
            The data on this page is saved automatically as you make changes. There is no need to submit the changes
            in any way. Simply alter the table by clicking on a cell. The time slots will rotate between red, yellow
            and green each time they are clicked. Change the table so that it matches your availability and the
            changes that you have made will be automatically saved.
        </p>
        <img src="{{ url_for('static', filename='assets/Schedule_Avail.PNG') }}" alt='Set Availbility Image' width='700'
             height='500' style="display: block; margin: 0 auto;">
        <br>
        <a href=''>Return to top</a>
        <br>
        <br>
	<h2 id='ViewYourSchedule'>View Assigned Hours</h2>
	<p>
		This page is used to view the hours which have been assigned to you by your administrator. You may view which
        hours you are working under this tab. The blocks with your name are the hours that you are scheduled for the
        week.
	</p>
	<img src="{{ url_for('static', filename='assets/mySched.PNG') }}" alt='View Schedule Image'  width='700'
             height='500' style="display: block; margin: 0 auto;">
	<br>
	<a href=''>Return to top</a>
	<br>
	<br>
	<br>
        </div>


    </div>

{% endblock %}
